body {
  background: #fff;
}

.mar-top20 {
  margin-top: 20px;
}

.mar-btm20 {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.height100 {
  height: 100px;
}

.minw-100 {
  min-width: 100px;
}

.title-container {
  padding: 10px;
  background: linear-gradient(lightgray, #a3a2a2);
  text-shadow: 1px 1px 4px gray;
  border-radius: 5px;
  color: #fff;
}

#chosen {
  border: 1px solid #ced4da;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 2px;
}

.ds-table {
  display: table;
}

.select-color {
  display: table-cell;
  width: 30%;
  min-height: 30px;
  float: right;
  background: #294665;
  border: 1px solid black;
  border-radius: 5px;
}

.select2-container .select2-selection--single {
  height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px !important;
}

.width30 {
  width: 30px;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.table-color {
  width: 100%;
  height: 24px;
  border-radius: 5px;
}

table .fa-edit,
table .fa-trash-alt,
table .fa-list-ul,
table .fa-info {
  cursor: pointer;
}

table .fa-edit {
  color: green;
}

table .fa-trash-alt {
  color: crimson;
}

table .fa-info {
  color: cornflowerblue;
}

i {
  margin: 0 2px;
}

.width50-p {
  width: 50%;
}

a.normal-text {
  color: initial;
}

a.normal-text:hover,
a.normal-text:active,
a.normal-text:visited,
a.normal-text:focus {
  text-decoration: none;
  color: initial;
}

.custom-footer,
.dataTables_info,
.dataTables_length,
.dataTables_filter,
.add-btn,
.dataTables_paginate {
  display: inline-block;
}

.custom-footer {
  width: 100%;
}

.dataTables_paginate {
  float: right;
}

table th {
  white-space: nowrap;
}

.tag-underline {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 5px;
  padding: 2px;
  white-space: nowrap;
}

.form-error {
  font-style: italic;
  color: crimson;
}

.swal-title {
  margin: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
  color: white;
}

.swal-footer {
  background-color: black;
  overflow: hidden;
}

.swal-modal {
  background-color: rgba(57, 57, 57, 0.90);
}

.swal-text {
  color: white;
}

/*
.form-control:focus {
    -webkit-box-shadow: lightgray 0px 2px 9px 5px !important;
    -moz-box-shadow: lightgray 0px 2px 9px 5px !important;
    box-shadow: lightgray 0px 2px 9px 5px !important;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}*/

.nav-link:hover,
.navbar li.active > a {
  background: linear-gradient(#9b7d3c, #e57553);
  color: white !important;
  border-radius: 5px;
  transition-duration: .3s;
}

.filter {
  background: lightgray;
  margin: 25px 0;
  padding: 10px;
  border-radius: 5px;
  max-height: 500px;
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}

.filter.not-shown {
  max-height: 45px;
  overflow: hidden;
}

.row.filter h4,
.row.filter i {
  display: inline-block;
}

.filter-toggle {
  line-height: 30px;
  cursor: pointer;
}
