<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <th:block th:replace="/fragments/styles::styles"></th:block>

</head>

<div th:replace="index :: navigation"></div>

<!--SIDE MENU START-->
<div class="row fadeIn animated mx-3">
  <div class="col-2 sticky-menu">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
         aria-orientation="vertical">
      <a class="nav-link active" href="#expenses" data-toggle="tab">Expenses</a>
      <a class="nav-link" href="#categories" data-toggle="tab">Categories</a>
      <a class="nav-link" href="#tags" data-toggle="tab">Tags</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content">
      <!--TAB CATEGORY START-->
      <div id="categories" class="tab-pane fade">
        <div class="row">
          <th:block th:each="cat: ${categoryStats}">
            <div class="col-3">
              <div class="card">
                <div class="card-image-top"
                     th:style="'height:40px; background:' +${cat.color}"></div>
                <div class="card-body">
                  <h5 class="card-title" th:text="${cat.name}">Card title</h5>
                  <div class="card-indicator">
                    <span>No of expenses: </span>
                    <span class="card-text" th:text="${cat.noOfExpenses}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Total amount: </span>
                    <span class="card-text" th:text="${cat.total}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Amount payed: </span>
                    <span class="card-text" th:text="${cat.payed}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Largest expense: </span>
                    <span class="card-text" th:text="${cat.max}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Lowest expense: </span>
                    <span class="card-text" th:text="${cat.min}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Recurrent: </span>
                    <span class="card-text" th:text="${cat.totalRecurrent}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Non Recurrent: </span>
                    <span class="card-text" th:text="${cat.nonRecurrent}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Payed expenses: </span>
                    <span class="card-text" th:text="${cat.closed}"></span>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
        <div class="row">
          <div class="col-6">
            <div id="pieHolder" class="chart-style"></div>
          </div>
          <div class="col-6">
            <div id="barHolder" class="chart-style"></div>
          </div>
        </div>
      </div>
      <!--TAB CATEGORY END-->
      <!--TAB EXPENSES START-->
      <div id="expenses" class="tab-pane fade active show">
        <div class="row">
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="card-indicator">
                  <span>Number of expenses: </span>
                  <span class="card-text" th:text="${expenseInfo.noOfExpenses}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="card-indicator">
                  <span>Biggest amount: </span>
                  <span class="card-text" th:text="${expenseInfo.max}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="card-indicator">
                  <span>Smallest amount: </span>
                  <span class="card-text" th:text="${expenseInfo.min}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="card-indicator">
                  <span>Full payed: </span>
                  <span class="card-text" th:text="${expenseInfo.payed}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="card-indicator">
                  <span>Partial payed: </span>
                  <span class="card-text" th:text="${expenseInfo.partialPayed}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="card-indicator">
                  <span>Average value recurrent: </span>
                  <span class="card-text" th:text="${expenseInfo.averageRecurrent}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="card-indicator">
                  <span>Average value non-recurrent: </span>
                  <span class="card-text" th:text="${expenseInfo.averageNonRecurrent}"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="clusteredExpDate" class="chart-style"></div>
          </div>
        </div>
      </div>
      <!--TAB EXPENSES END-->
      <!--TAB TAGS START-->
      <div id="tags" class="tab-pane fade">
        <div class="row">
          <th:block th:each="tag: ${tagStats}">
            <div class="col-3">
              <div class="card">
                <div class="card-image-top"
                     th:style="'height:40px; background:' +${tag.color}"></div>
                <div class="card-body">
                  <h5 class="card-title" th:text="${tag.name}">Card title</h5>
                  <div class="card-indicator">
                    <span>No of expenses: </span>
                    <span class="card-text" th:text="${tag.noOfExpenses}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Total amount: </span>
                    <span class="card-text" th:text="${tag.total}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Amount payed: </span>
                    <span class="card-text" th:text="${tag.payed}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Largest expense: </span>
                    <span class="card-text" th:text="${tag.max}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Lowest expense: </span>
                    <span class="card-text" th:text="${tag.min}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Recurrent: </span>
                    <span class="card-text" th:text="${tag.totalRecurrent}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Non Recurrent: </span>
                    <span class="card-text" th:text="${tag.nonRecurrent}"></span>
                  </div>
                  <div class="card-indicator">
                    <span>Payed expenses: </span>
                    <span class="card-text" th:text="${tag.closed}"></span>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
        <div class="row">
          <div class="col-6">
            <div id="pieTagHolder" class="chart-style"></div>
          </div>
          <div class="col-6">
            <div id="barTagHolder" class="chart-style"></div>
          </div>
        </div>
      </div>
      <!--TAB TAGS END-->
    </div>
  </div>
</div>
<!--SIDE MENU END-->

<script th:inline="javascript">
  const categoryCount = [[${categoryCount}]];
  const categoryStats = [[${categoryStats}]];
  const tagStats = [[${tagStats}]];
  const expenses = [[${expenses}]];
  const expenseInfo = [[${expenseInfo}]];
  console.log('categoryCount', categoryCount);
  console.log('categoryStats', categoryStats);
  console.log('tagStats', tagStats);
  console.log('expenses', expenses);
  console.log('expenseInfo', expenseInfo);
</script>
<div th:replace="fragments/scripts::scripts"></div>
<script th:src="@{vendors/am-charts_4.0.13/core.js}" type="text/javascript"></script>
<script th:src="@{vendors/am-charts_4.0.13/charts.js}" type="text/javascript"></script>
<script th:src="@{vendors/am-charts_4.0.13/animated.js}" type="text/javascript"></script>
<script th:src="@{js/dashboard.js}" type="text/javascript"></script>
</body>
</html>