<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:replace="/fragments/styles::styles"></th:block>
    <link rel="stylesheet" th:href="@{/vendors/colorpicker-2.5.2/bootstrap-colorpicker.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/vendors/select2-4.0.6-rc.1/select2.css}" type="text/css">
</head>
<body>
<div th:replace="index :: navigation"></div>
<div class="container-fluid">
    <div class="container-fluid mar-top20">
        <h3>Add Category</h3>
    </div>
    <div class="col-lg-6 col-xs-12 mx-auto">
        <form th:action="@{/expenses}" method="post" th:object="${expense}">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" th:field="*{title}">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea rows="6" class="form-control" th:field="*{description}"></textarea>
            </div>
            <div class="form-group">
                <label>Recurrent</label>
                <input type="checkbox" class="form-control width30" th:field="*{recurrent}">
            </div>
            <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" th:field="*{amount}">
            </div>
            <div class="form-group">
                <label for="">Category</label>
                <select name="" id="selectCat" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="">Tag/s</label>
                <select name="" id="selectTag" class="form-control"></select>
            </div>

            <div class="form-group float-right">
                <button class="btn btn-secondary">Cancel</button>
                <button class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">
    const CATEGORIES = [[${categories}]];
    const TAGS = [[${tags}]];
</script>
<div th:replace="fragments/scripts::scripts"></div>
<script type="text/javascript" th:src="@{/vendors/colorpicker-2.5.2/bootstrap-colorpicker.js}"></script>
<script type="text/javascript" th:src="@{/vendors/select2-4.0.6-rc.1/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/add-expense.js}"></script>
</body>
</html>