<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:replace="/fragments/styles::styles"></th:block>
</head>
<body>
<div th:replace="index :: navigation"></div>
<div class="container-fluid mar-top20">
    <h3>Expenses</h3>
</div>
<div th:replace="fragments/scripts::scripts"></div>
<script th:inline="javascript">
    EXPENSES = [[${expenses}]];
</script>
</body>
</html>